* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
     
}

.header {
    width: 90%;
    height: 40px;
    display: flex;
    margin: 20px auto 20px auto;
    padding: 7px 15px;
    border-radius: 10px;
    background: linear-gradient(180deg, #EEF8F9 0%, #EEF8F9 100%);



}

.headerInfo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.headerInfo button {
    background-color: transparent;
    border-radius: 3px;
    border: none;
    width: 25px;
    height: 25px;
    background-image: url('assets/images/icon-moon.svg');
    background-repeat: no-repeat;

}


.lightmood {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

.darkmood {
    background: linear-gradient(180deg, #040918 0%, #091540 100%)
}

.hero {
    width: 90%;
    margin: auto;
    padding: 10px;
}


.filterbox {
    display: flex;
    justify-content: space-between;


}

.allbtn {
    height: 40px;
    width: 100px;
    border-radius: 6rem;
    border: 1px solid black;
    margin: 2px;
    background-color: #fbfbfb;
    cursor: pointer;
}

.title {
    color: #111;
}

body.dark .title {
    color: #EBF2FC;
    transition: color 0.3s ease;
}

body.dark .allbtn {
    background-color: #373636;
    color: #fff;
    border: 1px solid rgb(81, 79, 79);
    transition: color 0.3s ease;
    
}
.all-items{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.container{
    height: 150px;
    width: 300px;
    border-radius: 1rem;
    border: 1px solid black;
    margin-top: 20px;
   
}

.img-container{
    display: flex;

    padding: 5px;
   
   
}

.text {
    padding: 5px;
}
.text h4{
    margin: 5px;
   
}

.text p {
    padding-left: 5px;
}


.modify{
   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.modify button {
    border-radius: 2rem;
    padding:  10px;
}
